body {
    font-family: "Exo 2", sans-serif;
    font-size: medium;
    text-align: center;
    width: auto;
    height: 100%;
    background-color: rgb(197, 166, 166);
    margin: 0;

}

p {
    padding: 10px;
    color: black;
    ;
    font-size: 1.5rem;
    font-weight: bolder;
}

h1, h2, h3, h4, h5 {
    background-color: rgb(123, 160, 123); 
    color: black;
    margin: 0;
    font-size: 2em;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

#contact {
    font-size: 1.5em;
    line-height: 2;
}

input, select, textarea {
    font-size: x-large;
    padding: 12px;
    margin: 8px 0;
    width: 100%;
}
form.form label {font-size: 1.4rem;
display: block; font-weight: bolder;}

form.form {
    text-align: left;
    padding: 10px;
}

img {
    height: 700px;
    width: auto;
}

.work {
    width: 100%;
    height: auto;
}

div.complete-review {
    margin-top: 20px;
}

ul.navigation.show {
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

input#submit nav {
    display: flex;
    justify-content: center;
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 100vw;
 
}

form.form {
    border: solid;
    border-radius: 20px;
    border-color: white;
    height: auto; /* Ensures the height adjusts based on content */
    width: 100%; /* Use the full width of its container */
    max-width: 800px; /* Increase max-width for a larger form */
    padding: 40px; 
    background-color:  rgb(123, 160, 123);/* Increase padding for a larger visual area */
    margin: 40px auto;
    
}
#submit {
    background-color: rgb(123, 160, 123); color: black;
}
#menu {
    font-size: small;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: black;
}
#submit:hover {
    background-color: rgb(220, 190, 190); 
    cursor: pointer; 
    
}
h1 {text-align: center; font-size: 3rem; font-weight: bold;}
.navigation {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: 2rem; font-weight: bold;
}

header {
    border: solid 5px;
    text-align: center;
    margin-bottom: 20px;
}
ul.navigation.show {
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
.navigation a {
    display: block;
    padding: .75rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
header {border: solid 5px; background-color:rgb(123, 160, 123) }
nav {
    background-color: rgb(123, 160, 123) ;
}




.navigation {
    list-style: none;
    margin: 0 auto;
 
}

header {
    border: solid 5px;
    text-align: center;
    margin-bottom: 20px;
}

.navigation a {
    display: block;
    padding: .75rem;
    text-decoration: none;
    color:black;
    font-weight: 700;
    border: solid;
    margin-bottom: 5px;}

.navigation a:hover, .navigation a:active {
    color: white;
    background-color: black;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

ul.navigation.show {
    display: flex;
    flex-direction: column;
}
section p {
    font-size: 1.5rem; font-weight: bolder;
}

@media screen and (max-width: 650px) {
    ul.navigation {flex-direction: column; padding: 0;} 
    header {background-color:rgb(197, 166, 166);padding: 5px; font-size: 1.2rem;}
    body {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        max-width: 100%;
        margin: 0;
        height: auto;
        justify-content:center;
        
    } 
    .navigation li {display: none;}
    img {
        height: auto;
        width: 100%;
        border-radius: 20px;

    }
    input {width: 90%;}
    #submit {width: 100%;}
    form.form {
        border: solid 5px white;
        border-radius: 20px;
        background-color:rgb(123, 160, 123);
        padding: 20px;
      
        width: auto;

        
    }

    section {border-bottom: 1px solid grey;  background-color:rgb(197, 166, 166);
        border: solid 2px white;
        border-radius: 20px;
        height: auto;}  
    section p {
        font-size: 1.5rem; font-weight: bolder;
    }
    h2,h3 {margin: 5px;
        padding: 10px;
        border: solid 5px white;
        border-radius: 20px;
        background-color:rgb(123, 160, 123);
        color: black;}
    .show li {
        display:block;
    }
    #menu.show::before {
        content: "X";
    }
    #river {
        border: solid 5px;
        border-radius: 20px; 
        border-color: white;
    }
    ul.navigation.show {
        display: flex;
        flex-direction: column;
    }
    #menu::before {
        content: "☰";
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
    button:hover { 
        background-color: red; 
    
    }
    button {
        color: black;
        padding: 20px;
        margin: 10px;
        height: auto;
        background-color:rgb(123, 160, 123);
        border: solid 5px white;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px;
        transition: .7s;
    } 
    h2, h3, h4 {   
        margin: 5px;
        padding: 10px;
        border: solid 5px white;
        border-radius: 20px;
        background-color:rgb(123, 160, 123);
        color: black;
    }
    footer p {
        color:black;
    }

}