body {
    font-family: "Exo 2", sans-serif;
    font-size: medium;
    text-align: center;
    width: auto;
    height: 100%;
    background-color:rgb(197, 166, 166);
   
    box-sizing: border-box;
    margin: auto;
}

p { justify-content: center; color: rgb(0, 0, 0);}
h1, h2, h3, h4, h5{ background-color: green; color: white; margin: 0; font-size: 1.5em;}
nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
    padding: 0;
    
}
#contact {
    font-size: 1.5em;
    line-height: 2;
}

input, select{padding: 10px;}

form.form {
    text-align: left; padding: 10px;}
img {height: 500px;
width: auto;}
.work {width:100%;
    height: auto;

}
div.complete-review {margin-top: 20px;}
ul.navigation.show {
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
input#submit {
    background-color: rgb(122, 255, 122);
}
form.div {
    padding-top: 10px;
}

header {border: solid;}
nav {
    background-color: green;
 
}
.container {
    display: grid;
    grid-template-columns: auto auto;
    
}
.form { border: solid;
    border-radius: 20px;
    border-color: white;
    height: auto;
    width: auto;


}
#menu {
    font-size:small;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: black;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    
}
header {
    text-align: center;
}

.navigation a {
    display: block;
    padding: .75rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.navigation a:hover, navigation a:active {
    color: white;
    background-color: black;
}
.show li {
    display:block;
}
#menu.show::before {
    content: "X";
}
ul.navigation.show {
    display: flex;
    flex-direction: column;
}

.form div {
    margin-bottom: 10px;
    width: 50%;
}
@media screen and (max-width: 601px)
{ul.navigation {flex-direction: column; padding: 0;} header {background-color: red;padding: 5px; font-size: 1.2rem;} body  {display: inline-block;
    grid-template-columns: 1fr;
    padding: 0;
    max-width: 100%;
    margin: 0;
    height: auto} section {border-bottom: 1px solid grey;} .title {display:inline-block; margin: 10px;} .title img {width:50px; height:50px;
        margin:0; vertical-align: middle;} h3::after {content: none;} h2,h3 {background-color: white; margin:0; ;}.show li {
            display:block;
        }
        #menu.show::before {
            content: "X";
        }
        ul.navigation.sho {
            display: flex;
            flex-direction: column;
        }#menu::before {
            content: "☰"}}