@media screen and (min-width: 900px) {
    .navigation {
        display: flex;
        justify-content: space-around;
        font-size: 2rem; font-weight: bold;
    }
    .container {
        position: relative;
        width: 100%;
        min-height: 500px;
    }
    button:hover {
        background-color: red;
    }
    button {
        color: white;
        padding: 20px;
        margin: 10px;
        transition: .7s;
        border-radius: 10px;
        font-weight: bold;
        font-size: x-large;
        border: 1px solid rgba(127, 121, 121, 0.3);
        box-shadow:0px 4px 8px 0 blue;
    }
    h1 {text-align: center; font-size: 3rem; font-weight: bold;}
    p {
        padding: 10px;
        color: white;
        letter-spacing: 5px;
    }
    .navigation li {
        display: flex;
        justify-content: space-around;
    }
    .navigation a {
        text-align: center;
    }
    .container {
        position: relative;
    }
    section#card_1 {
        position: absolute;
        top: 62px;
        left: 10px;
        background-color: rgb(197, 166, 166);
        border: solid 5px white;
        border-radius: 20px;
        width: 25%;
        font-weight: bold;
        border: 3px solid rgba(127, 121, 121, 0.3);
        box-shadow:0px 9px 8px 0 blue;
    }
    button:hover {
        background-color: red;
        transition: .7s;
    }
    button {
        color: black;
        padding: 20px;
        margin: 10px;
        height: auto;
        background-color: rgb(123, 160, 123);
        border: solid 5px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px;
        border-color: white;
    }
    p {
        padding: 10px;
        color: black;
        letter-spacing: 1px;
        font-size: larger;
        font-weight: bold;
    }
    h2,
    h3 {
        margin: 5px;
        padding: 10px;
        border: solid 5px;
        border-color: black;
        border-radius: 20px;
        border-color: white;
        border: 3px solid rgba(127, 121, 121, 0.3);
        box-shadow:0px 9px 8px 0 blue;
    }
    #river {
        position: absolute;
        top: 62px;
        height: 40%;
        width: auto;
        right: 50px;
        border: solid;
        margin: 0px;
        z-index: 1;
        border: 1px solid rgba(127, 121, 121, 0.3);
        box-shadow:0px 4px 8px 0 blue;
    }
    .navigation li {
        display: flex;
        justify-content: space-around;
    }
    .navigation a {
        text-align: center;
        border: 1px solid rgba(127, 121, 121, 0.3);
    box-shadow:0px 4px 8px 0 blue;
    }
    section#card_2 {
        position: absolute;
        bottom: 8px;
        right: 0px;
        background-color: rgb(197, 166, 166);
        border: solid 5px;
        border-radius: 20px;
        border-color: white;
        height: auto;
        width: 50%;
        z-index: 2;
        border: 3px solid rgba(127, 121, 121, 0.3);
        box-shadow:0px 9px 8px 0 blue;
    }
    h3 {
        background-color:rgb(123, 160, 123);
        color: black;
        border: 3px solid rgba(127, 121, 121, 0.3);
        box-shadow:0px 9px 8px 0 blue;
    }
    footer {
        height: auto;
        width: 100%;
    }
    footer p {
        margin: 0px;
    }
}
