
body {
    font-family: "Exo 2", sans-serif;
    font-size: medium;
    text-align: center;
    width: auto;
    height: 100%;
    background-color: rgb(197, 166, 166);
    margin: 0;
    
}
p { justify-content: center; color: rgb(0, 0, 0);}
h1, h2 { background-color:rgb(123, 160, 123); color:black; margin: 0;}
nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
    padding: 0;
    
}
img {
    width: 100%;
    height: auto;
}
ul.navigation.show {
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
header {border: solid 5px; background-color:rgb(123, 160, 123) }


nav {
    background-color:rgb(123, 160, 123);
 
}
h1 {
    padding-top: 20px;
}
#menu {
    font-size:small;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: black;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: .75rem;
    text-decoration: none;
    color:black;
    font-weight: 700;
    border: solid;
    margin-bottom: 5px;
}
.navigation a:hover, .navigation a:active {
    color: white;
    background-color: black;
}
.show li {
    display:block;
}
#menu.show::before {
    content: "X";
}

ul.navigation.show {
    display: flex;
    flex-direction: column;
}
footer p {
    color:black;
}
@media screen and (max-width: 899px) {
    ul.navigation {flex-direction: column; padding: 0;} 
    header {background-color:rgb(197, 166, 166);padding: 5px; font-size: 1.2rem;font-weight: bold;
       }
    main {
        display: inline-block;
        grid-template-columns: 1fr;
        padding: 0;
        max-width: 100%;
        margin: 0;
        height: auto;
        font-weight: bold;
        font-size: x-large;
    } 
    section {border-bottom: 1px solid grey;  background-color:rgb(197, 166, 166);
        border: solid 5px white;
        border-radius: 20px;
        height: auto;}   
    h2,h3 {margin: 5px;
        padding: 10px;
        border: solid 5px white;
        border-radius: 20px;
        background-color:rgb(123, 160, 123);
        color: black;}
    .show li {
        display:block;
    }
    #menu.show::before {
        content: "X";
    }
    #river {
        border: solid 5px;
        border-radius: 20px; 
        border-color: white;
    }
    ul.navigation.show {
        display: flex;
        flex-direction: column;
    }
    #menu::before {
        content: "☰";
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
    button:hover { 
        background-color: red; 
    
    }
    button {
        color: black;
        padding: 20px;
        margin: 10px;
        height: auto;
        background-color:rgb(123, 160, 123);
        border: solid 5px white;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px;
        transition: .7s;
        font-weight: bold;
        font-size: x-large;
    } 
    h2, h3 {   
        margin: 5px;
        padding: 10px;
        border: solid 5px white;
        border-radius: 20px;
        background-color:rgb(123, 160, 123);
        color: black;
    }
    footer p {
        color:black;
    }
}