body {
    font-family: "Exo 2", sans-serif;
    font-size: medium;
    text-align: center;
    width: auto;
    height: 100%;
    background-color: rgb(192, 14, 14);
}
p { justify-content: center; color: rgb(0, 0, 0);}
h1, h2 { background-color: green; color: white;}
