:root {
--blue: navy;
--yellow: #fff00f;

}
header {
    background-color: var(--yellow);
    text-align: center;
    padding: 10px;
    
    font-size: 2rem;
    border-bottom: solid;
    border-width: 40px;
    border-color: blueviolet;
}
.hero img {
width: 100%;
height: auto;

}
body {
    margin: 0px;
}
.card_1 {background-color: white; ;}
.card_2 {background-color: white; }
h2, h3 {background-color:yellow; margin:0;}

footer {margin: 0px;
    text-align: center;
    background-color: var(--blue); 
}
footer p {margin: 0px;}
section {text-align: center; background-color: white;}
footer p {margin: 0px; color: yellow;}
h3::after {content: '☁️';}
.windchill {display: inline;}
@media screen and (max-width: 501px) {header {background-color: red;padding: 5px; font-size: 1.2rem;}main {display: inline-block;
    grid-template-columns: 1fr;
    padding: 0;
    max-width: 100%;
    margin: 0;
    height: auto} section {border-bottom: 1px solid grey;} .title {display:inline-block; margin: 10px;} .title img {width:50px; height:50px;
        margin:0; vertical-align: middle;} h3::after {content: none;} h2,h3 {background-color: white; margin:0; ;}}

