@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header {background-color:greenyellow;
text-align: center;
display: flex;
height: auto; max-width: 100%;}
body {max-width: fit-content;}

nav {
    background-color:yellow;
    margin: 0 auto;
    max-width:1000px;

}
nav ul {
    list-style-type: none;
    justify-content: space-around;
  
}
figure

nav ul {
    display:flex;




}
nav a:hover {
    border: 1px solid #fff
}
.active {
    color: green;
}
#menu {
    display: block;
    font-size:small;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: aqua;
    color: black;
}
#menu::before {
    content: "X"
}
.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: .75rem;
    text-align: right;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.navigation a:hover, navigation a:active {
    color: white;
    background-color: black;
}
.show li {
    display:block;
}
#menu.show::before {
    content: "L";
}
.container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
}

.item {
    text-align: center;
}
img {
    width: 100%;
    max-width: 100%;
    height:auto;
}
main {
 max-width: 100%
}
@media screen and (max-width: 600px){ h1 {color:black;}

    
    
    .container 
    {display: inline-block;
        grid-template-columns: 1fr;
        padding: 0;
        max-width: 100%;
        
        margin: 0;
        height: auto;
    }
    .img {width:auto;max-width: 100%; height:auto;}
  
    .navigation a {font-size: .5rem;}

  .item {margin:0;}
}